

<div id="bar-navigation">
	<div id="logo">
		<img src="logo.png" width="150px" height="50px">
	</div>
	<div id="menu">
		<a href="" id="space-menu">Inicio </a>| 
		<a href="" id="space-menu">Funcionários </a>| 
		<a href="" id="space-menu">Relatórios </a>| 
		<a href="" id="space-menu">Formulários </a>
	</div>
	
	<div>
		<a href=""><%= image_tag "setup.png", id: "setup" %></a>
	</div>
	
	<div id="logout">
		<a href="" >SAIR </a> 		
	</div>
</div>
